{% extends "_global/index.html" %} 

{% block main %} 
<div class="row mt-3">    
    <form method="post" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">    
            <div class="card-header">
                <h5>Brisanje sata</h5>
            </div>
            <div class="card-body">  
                <div class="form-group">
                    <label for="watch_id">Sat:</label>
                    <select name="watch_id" id="watch_id" class="custom-select">
                        {% for watch in watches %}
                        <option value="{{ watch.watch_id }}">
                            {{ watch.title }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        Obrisi sat
                    </button>        
                    <a href="{{ BASE }}admin/watches" class="btn btn-primary float-right">Nazad na listu satova</a>        
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}