{% extends "_global/index.html" %}

{% block main %}
<div class="row mt-3"> 
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">
            <div class="card-header">
                <h5>Izmena sata</h5>
            </div>
            <div class="card-body">
                <img src="{{ image.path|escape }}" alt="{{ image.title|escape }}" class="rounded mx-auto d-block watch-picture">
                <div class="form-group">
                    <label for="title">Naziv:</label>
                    <input type="text" id="title" name="title" value="{{ watch.title|escape }}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">Opis:</label>
                    <textarea id="description" name="description" rows="5" class="form-control">{{ watch.description|escape }}</textarea>
                </div>
                <div class="form-group">
                    <label for="price">Cena:</label>
                    <input type="text" id="price" name="price" value="{{ watch.price|escape }}" class="form-control">
                </div>              
                <div class="form-group">
                    <label for="image">Slika:</label>
                    <div class="custom-file">                    
                        <input type="file" id="image" name="image" class="custom-file-input">
                        <label for="image" class="custom-file-label">Izaberite sliku</label>
                    </div>  
                </div> 
                <div class="form-group">
                    <label for="category">Kategorija:</label>
                    <select name="category" class="custom-select">           
                        {% for category in categories %}                
                        <option value="{{ category.category_id|escape }}" {% if category.category_id == selectedCategory %}selected{% endif %}>{{ category.name|escape }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">    
                    <label for="feature">Karakteristike:</label>
                    <select name="feature" class="custom-select">           
                        {% for feature in features %}
                        <option value="{{ feature.feature_id|escape }}" {% if feature.feature_id == selectedFeature %}selected{% endif %}>{{ feature.name|escape }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    Izmeni sat
                </button>
                <a href="{{ BASE }}admin/watches" class="btn btn-primary float-right">Nazad na listu satova</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
