{% extends "_global/index.html" %}

{% block main %}
<div class="row mt-3">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card-header">
            <h5>Dashboard</h5>
        </div>
        <ul class="list-group unstyled">
            <li>
                <a href="{{ BASE }}admin/watches" class="list-group-item list-group-item-action">Satovi</a>
                <a href="{{ BASE }}admin/categories" class="list-group-item list-group-item-action">Kategorije</a>
                <a href="{{ BASE }}admin/features" class="list-group-item list-group-item-action">Karakteristike</a>
                <a href="{{ BASE }}admin/orders" class="list-group-item list-group-item-action disabled"><i class="fa fa-exclamation-triangle"></i> Narubdzine - <i>coming soon</i></a>
                <a href="{{ BASE }}admin/logs" class="list-group-item list-group-item-action">Logovi</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}