{% extends "_global/index.html" %}

{% block main %}
<div class="row mt-3">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">
            <div class="card-header">
                <h4>{{ watch.title|escape }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ image.path|escape }}" alt="{{ image.title|escape }}" class="rounded mx-auto d-block watch-picture">  
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Kategorija: <a href="{{ BASE }}category/{{ category.category_id }}">{{ category.name|escape }}</a></li>
                    <li class="list-group-item">Karakteristike: {{ feature.name|escape }}</li>
                    <li class="list-group-item">Opis: {{ watch.description|escape }}</li>
                    <li class="list-group-item">Cena: <span class="font-weight-bold">{{ watch.price|escape }} rsd</span></li>                
                </ul>
            </div> 
            <div class="card-footer">
                <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Dodaj u korpu</a>
                <a href="{{ BASE }}/watches" class="btn btn-primary float-right">Nazad na listu satova</a>
            </div>        
        </div>
    </div> 
</div> 
{% endblock %}
