{% extends "_global/index.html" %}

{% block main %}
    <h1>{{ category.name|escape }} satovi</h1>

    <div class="card-columns col-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
      {% for watch in watchesInCategory %} 
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ BASE }}assets/img/temporary.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ BASE }}watch/{{ watch.watch_id }}">{{ watch.title|escape }}</a></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ watch.description|escape }}</li>
            <li class="list-group-item">{{ watch.title|escape }}</li>
          </ul>
        </div>
        <div class="card-footer">
          {{ watch.price|escape }} rsd
          <a href="#" class="btn btn-primary float-right"><i class="fa fa-shopping-cart"></i> Dodaj u korpu</a>
        </div>
      </div>
      {% endfor %}  
    </div>            
{% endblock %}