{% extends "_global/index.html" %} 

{% block main %} 
<div class="row mt-3">    
    <form method="post" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">    
            <div class="card-header">
                <h5>Brisanje kategorije</h5>
            </div>
            <div class="card-body">  
                <div class="form-group">
                    <label for="category_id">Kategorija: </label>
                    <select name="category_id" id="category_id" class="custom-select">
                        {% for category in categories %}
                        <option value="{{ category.category_id }}">
                            {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        Obrisi kategoriju
                    </button>        
                    <a href="{{ BASE }}admin/categories" class="btn btn-primary float-right">Nazad na listu kategorija</a>        
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}