{% extends "_global/index.html" %}

{% block main %}
<div class="row mt-3">
    <form action="{{ BASE }}admin/login" method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">
            <div class="card-header">
                Administrator logovanje
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="input_email">Email:</label>
                    <input type="text" id="input_email" name="login_email" required class="form-control"
                        placeholder="Unesite vasu email adresu.">
                </div>

                <div class="form-group">
                    <label for="input_password">Lozinka:</label>
                    <input type="password" id="input_password" name="login_password" required class="form-control"
                        placeholder="Unesite svoju lozinku.">
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">
                    Logovanje
                </button>
                <a href="{{ BASE }}admin/register" class="btn btn-primary float-right">Registracija</a>
            </div>            
        </div>
    </form>
</div>
{% endblock %}
