{% extends "_global/index.html" %}

{% block main %}
<div class="row mt-3">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">
            <div class="card-header alert alert-danger">
                {{ message }}
            </div>
            <div class="card-body">
                Kliknite <a href="{{ BASE }}admin/login">ovde</a> da se vratite nazad.
            </div>
        </div>
    </div>
</div>
{% endblock %}
