.social-icons {
    margin-bottom: 10px;
}

.social-icons a i.fa {
    display: inline-block;
    color: #dc0004;
    font-size: 22pt;     
    margin: 5px;
}

.category {
    padding: 50px 0px;
    /* margin: 20px;   */
}

.watch-picture {
    max-width: 150px;
    max-height: 200px;
}

.unstyled {
    list-style-type: none;
}

.clear-margin {
    margin-bottom: -1rem;
}

.alert {
    margin-bottom: 0px !important;
}