{% extends "_global/index.html" %} 

{% block main %} 
<div class="row mt-3">    
    <form method="post" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">    
            <div class="card-header">
                <h5>Brisanje karakteristike</h5>
            </div>
            <div class="card-body">  
                <div class="form-group">
                    <label for="feature_id">Karakteristika:</label>
                    <select name="feature_id" id="feature_id" class="custom-select">
                        {% for feature in features %}
                        <option value="{{ feature.feature_id }}">
                            {{ feature.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        Obrisi karakteristiku
                    </button>        
                    <a href="{{ BASE }}admin/features" class="btn btn-primary float-right">Nazad na listu karakteristika</a>        
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}