{% extends "_global/index.html" %}

{% block main %}
<div class="row mt-3">  
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card-header">
            <h5>Lista karakteristika</h5>
            <a href="{{ BASE }}admin/dashboard" class="btn btn-primary"><i class="fa fa-cog"></i> Dashboard</a>
            <a href="{{ BASE }}admin/features/add" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Dodaj</a>
            <a href="{{ BASE }}admin/features/delete" class="btn btn-primary"><i class="fa fa-minus-circle"></i> Obrisi</a>
        </div>
        <ul class="list-group unstyled">
            {% for feature in features %}
                <li>
                    <a href="{{ BASE }}admin/features/edit/{{ feature.feature_id }}" class="list-group-item list-group-item-action">{{ feature.name|escape }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>        
</div>
{% endblock %}