{% extends "_global/index.html" %}

{% block main %}
<div class="row mt-3">  
    <form method="POST" class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">
            <div class="card-header">
                <h5>Dodavanje nove karakteristike</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Naziv:</label>
                    <input type="text" id="name" name="name" required class="form-control">
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        Dodaj karaktestiku
                    </button>
                    <a href="{{ BASE }}admin/features" class="btn btn-primary float-right">Nazad na listu karakteristika</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
