{% extends "_global/index.html" %}

{% block main %}
<div class="row mt-3">
    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lf-3 col-lg-6 offset-xl-3">
        <div class="card">
            <div class="card-header">
                <h5>Administrator logovi</h5>
                <a href="{{ BASE }}admin/dashboard" class="btn btn-primary"><i class="fa fa-cog"></i> Dashboard</a>
            </div>
            <table class="table">
                <th>Datum logovanja</th>
                <th>ID Administratora</th>
                <th>IP Administratora</th>
            {% for log in logs %}
                <tr>
                    <td>{{ log.logged_at|escape }}</td>
                    <td>{{ log.administrator_id|escape }}</td>
                    <td>{{ log.ip_address|escape }}</td>
                </tr>     
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
