<!doctype html>
<html>
    <head>
        <title>J&M Watches - {% block naslov %}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="row">
                    <div class="col col-sm">
                        <a href="{{ BASE }}">
                            <img src="{{ BASE }}assets/img/banner-1.jpg" alt="Banner-1">
                        </a>
                    </div>                    
                </div>                
                
                <nav class="navbar navbar-expand-lg navbar-light bg-light">                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Pocetna</a>
                            <a class="nav-item nav-link" href="{{ BASE }}categories"><i class="fa fa-list"></i> Kategorije</a>
                            <a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fa fa-phone"></i> Kontakt</a>
                            <a class="nav-item nav-link" href="{{ BASE }}about"><i class="fa fa-info-circle"></i> O nama</a>
                            <a class="nav-item nav-link" href="{{ BASE }}admin/login"><i class="fa fa-sign-in"></i> Prijava</a>
                            <a class="nav-item nav-link" href="{{ BASE }}admin/logout"><i class="fa fa-sign-out"></i> Odjava</a>
                            <a class="nav-item nav-link" href="{{ BASE }}admin/register"><i class="fa fa-users"></i> Registracija</a>
                            <a class="nav-item nav-link" href="{{ BASE }}admin/dashboard"><i class="fa fa-cogs"></i> Admin dashboard</a>
                        </div>
                    </div>
                </nav>
            </header>
            <main>
                {% block main %}
                {% endblock %}
            </main>
            <footer class="page-footer">
                <hr>
                <div class="text-center py-3">© 2018 Copyright:
                    <a href="#">J&M</a>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>                                
            </footer>
        </div>
        <script src="{{BASE}}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>